.card {
  box-shadow: 0 0 4px var(--secondary025);
  width: 260px;
  position: relative;
}

/* ---------------------- */
/* QUESTION WRAPPER START */
/* ---------------------- */

/* Question Tags */
.card__tags {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px;
}
.card__tag a {
  text-decoration: none;
  color: var(--secondary);
}
/* ---------------------- */
/* QUESTION WRAPPER END   */
/* ---------------------- */

/* ---------------------- */
/* ANSWER WRAPPER START   */
/* ---------------------- */

.card__answer-wrapper {
  padding: 20px;
  background: var(--secondary);
  filter: drop-shadow(0 -4px 4px var(--secondary025));
  color: var(--card-answer-color);
  z-index: 1;
  text-align: center;
  transition: all 0.25s ease;
  overflow: hidden;
}
/* ---------------------- */
/* ANSWER WRAPPER END     */
/* ---------------------- */

/* Delete Card BTN */
