.quiz {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

.card {
  overflow: hidden;
  box-shadow: 0 0 4px var(--secondary025);
  width: 260px;
  position: relative;
}

/* ---------------------- */
/* QUESTION WRAPPER START */
/* ---------------------- */
.card__question-wrapper {
  background: var(--card-bg);
  padding: 30px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: auto;
}
/* Question */
.card__question-wrapper .card__question {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  min-height: 81px;
}
/* Question BTN */
.card__btn {
  margin-top: 20px;
}
.card__btn.btn--hide-answer {
  background: var(--secondary);
  color: var(--card-btn-hide-answer-color);
}
/* Question Tags */
.card__tags {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px;
}
.card__tag a {
  text-decoration: none;
  color: var(--secondary);
}
/* ---------------------- */
/* QUESTION WRAPPER END   */
/* ---------------------- */

/* ---------------------- */
/* ANSWER WRAPPER START   */
/* ---------------------- */

.card__answer-wrapper {
  padding: 20px;
  background: var(--secondary);
  filter: drop-shadow(0 -4px 4px var(--secondary025));
  color: var(--card-answer-color);
  z-index: 1;
  text-align: center;
  transition: all 0.25s ease;
  overflow: hidden;
}
.card:not(.answer-shown) .card__answer-wrapper {
  display: none;
}
/* ---------------------- */
/* ANSWER WRAPPER END     */
/* ---------------------- */

/* Card Bookmark */
.card__bookmark {
  position: absolute;
  right: 10px;
  top: 0;
  border: none;
  background: none;
  font-size: 24px;
  box-shadow: none;
  padding: 0;
}
.card__bookmark i {
  position: relative;
  top: -4px;
  color: var(--secondary);
}
.card__bookmark.card__bookmark--active i {
  color: var(--primary);
}
