header {
  padding: 20px 20px 63px;
  text-align: center;
  background: var(--secondary);
  border-bottom: 5px solid var(--primary);
  margin-bottom: 20px;
  box-shadow: 0 4px 4px var(--secondary025);
  color: #fff;
  position: relative;
}
@media screen and (min-width: 992px) {
  header {
    padding: 20px;
  }
}

header img {
  height: 43px;
}

.reset__btn {
  position: absolute;
  top: 88px;
  width: 205px;
  left: calc(50% - (205px / 2));
  text-align: center;
  display: inline-flex;
  gap: 10px;
  background: none;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 992px) {
  .reset__btn {
    left: unset;
    right: 20px;
    top: 30.5px;
  }
}
